body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px; /* Add padding to create space around the container */
    box-sizing: border-box;
    background: url(https://wallpapercave.com/wp/wp4390828.jpg);
    background-size: cover;
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    max-height: 90vh; /* Limit the height to make the container scrollable */
    overflow-y: auto; /* Enable vertical scrolling */
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
}

input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="date"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    label {
        font-size: 14px;
    }

    input[type="date"],
    select {
        padding: 8px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}
